.remove-list-btn {
  background-color: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &__icon path { 
    transition: fill 0.3s ease-in-out;
    fill: #bdb1b1;
  }

  &:hover {
    transform: scale(1.1);
    path {
      fill: #1b1818;
    }
  }
}